*::before,
*::after,
* {
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    place-content: center;
    background-color: #6d7691;
}

.calculator {
    width: 350px;
    height: 280px;
}

.display {
    height: 5rem;
    background-color: #000;
    color: #ff6600;
    font-size: 2rem;
    text-align: right;
}

.keys {
    height: 100%;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 10px;
    background-color: #000;
}
button {
    cursor: pointer;
    border: none;
}

.operator {
    background-color: #6d7691;
}

.equal {
    background-color: #ff6600;
    grid-area: 2 / 4 / 6/ 5;
}

.equal:active {
    background-color: #ff8330;
}
